body {
  overflow-x: hidden;
}

.pointer {
  cursor: pointer;
}

.horizontal-scroll {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}

.mob-hide {
  @include mobile {
    display: none;
  }
}

.desk-hide {
  @include desktop {
    display: none;
  }
}

.between {
  justify-content: space-between;
}

.center {
  align-items: center;
  justify-content: center;
}

.pokeid {
  font-weight: 400;
  margin-left: 5px;
}

button {
  border-radius: 3px;
  padding: 4px 6px;
  &:not(.no-bg) {
    background-color: lightgray;
    &:hover:not(:disabled) {
      background-color: grey;
    }
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
input, select {
  border-radius: 4px;
  border: 1px solid #1f2937;
  padding: 0 6px;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}