.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}

.types {
  gap: 1rem;
  .type {
    padding: 8px;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
  }
}

.pointer {
  cursor: pointer;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}